{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<header class="section__container header__container" id="home">
  <h1  style="color: white;">Pesquise, Candidate-se &<br />Conquiste Seu <span>Emprego dos Sonhos</span></h1>
  <p style="color: white;">
    Seu futuro começa aqui. Descubra inúmeras oportunidades, aja
    candidatando-se a empregos que correspondam às suas habilidades e aspirações, e
    transforme sua carreira.Nossa plataforma oferece uma experiência de busca e
    candidatura inovadora e eficiente, permitindo que você encontre o emprego per
    fecto para você.
  </p>
  <div class="intro-page"> 
    <section class="intro-cta">
        <p class="intro-cta-text">Junte-se à nossa comunidade hoje. Porque o futuro não espera, coma ahora.</p>
        <a href="{{ url_for('main.register') }}" class="intro-btn">Registre-se agora</a>
    </section>
  </div>
</header>
<section class="steps" id="about">
  <div class="section__container steps__container">
    <p class="section__description"  style="color: white;">
      Nossa plataforma oferece uma experiência de busca e candidatura inovadora e eficiente
      permitindo que você encontre o emprego perfeito para você.
    </p>
{% endblock %}
