{% extends "base.html" %}

{% block content %}

      <div class="section__container steps__container">

        <p style="color: white;" class="section__description">
            Siga nosso guia passo a passo simples para conseguir rapidamente o emprego dos seus sonhos
            e Comece sua nova jornada de carreira.
        </p>
        <div class="steps__grid">
          <div class="steps__card">
            <span><i class="ri-user-fill"></i></span>
            <h4>Criar uma conta</h4>
            <p>
                Inscreva-se com apenas alguns cliques para desbloquear acesso exclusivo a um
                mundo de oportunidades de emprego e conseguir o emprego dos seus sonhos. É rápido,
                fácil e totalmente gratuito.
            </p>
          </div>
          <div class="steps__card">
            <span><i class="ri-search-fill"></i></span>
            <h4>Procurar Trabalho</h4>
            <p>
                Mergulhe em nosso banco de dados de empregos adaptado para corresponder às suas habilidades e
                preferências. E encontrar o perfeito
                O trabalho nunca foi tão fácil.
            </p>
          </div>
          <div class="steps__card">
            <span><i class="ri-briefcase-fill"></i></span>
            <h4>Conseguir emprego</h4>
            <p>
                Dê o passo final em direção à sua nova carreira. Prepare-se para embarcar
                em sua jornada profissional e garanta o emprego que você tem
                sonhando.
            </p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
